body{
    background-color:#4F6F52;
    color: #ECE3CE;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #3A4D39;
    color:white;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
   text-decoration: none;
    color:#ECE3CE;
}
nav ul li a:hover{
   color: gray;
    font-size: 1.01rem;
}
.left{
    font-size: 2rem;
    position: absolute;
    left: 5%;
    color: #ECE3CE;
}
.right{
    position: absolute;
    right: 5%;
    color: #ECE3CE;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 90px 0;
    align-items: center;
}
.firstsection > div{
    width: 30%;
}
.leftsection{
    font-size: 3rem;
    color: #3A4D39;
}
.span-1{
    color: #ECE3CE;
}
#element{
    color: #ECE3CE;
}
.rightsection img{
    width: 120%;
    position: relative;
   right: 20%;
   

}
.secondsection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
    background-color: #3A4D39;
    padding: 20px 20px;
}
main hr{
    border: 0;
    background:  #3A4D39;
    height: 1.5px;
    margin: 40px 84px;
}
h1{
    font-size: 1.9rem;
    margin-top: 0;
}
.text-grey{
    color: #739072;
}
.secondsection .box{
    background-color:#ECE3CE;
    width: 65vw;
    height: 2px;
    margin: 65px 160px ;
    display: flex;
}
.secondsection .verticle{
    height: 85px;
    width: 1.5px;
    background-color: #ECE3CE;
    margin: 0 120px;
}
.image-top{
    width: 26px;
    position: relative;
    top: -35px;
    left: -13px;
}
.verticle-title{
    position: relative;
    top: 84px;
    width: 150px;
}
.verticle-desc{
    position: relative;
    top: 99px;
    
    width: 150px;
    font-size: 13px;
}
footer{
    background-color: #3A4D39;
}
.footer-first{
    display: inline-block;
    position: absolute;
    left: 10%;
   
  

}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content:flex-end;
}
.footer-second{
    line-height:1.7;
   float: left;
    text-align: left;
}
.footer-third{
    line-height: 1.7;
    float: left;
    text-align: left;
}
.footer ul{
    list-style: none;
}
.footer > div{
    width: 233px;
}
footer .footer-rights{
    text-align: center;
    color: #739072;
    padding: 12px 0;
}
footer ul{
    list-style: none;
}
footer ul li a{
   text-decoration: none;
    color: #ECE3CE;
}
footer ul li a:hover{
   color: gray;
    font-size: 1.01rem;
}
.btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #3A4D39;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3A4D39;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  width: 233px;
  will-change: transform;
    margin-top: 20px;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}


.contact {
  display: flex;
  flex-direction: column; 
  position: relative;
}


.contact-content {
  display: flex;
  justify-content: space-between;
  align-self: center;
  line-height: 2;
  height: auto;
  width: 70%;
  background-color: rgba(0,0,0,0.6);
  margin-bottom: 10rem;
    background-color: #3A4D39;
}

.contact-form {
  font-family: "Rubik", sans-serif;
  padding: 5rem;
}

#form-title {
  color: #ECE3CE;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1px;
  margin-left: 4rem;
  margin-bottom: 3rem;
}

fieldset {
  border: none;
}

.form-field {
  outline: none;
  width: 200%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    margin-bottom: .9rem;
}

#name, #email, #subject, #message {
  font-family: "Rubik", sans-serif;
  color: #ECE3CE;
  outline: none;
  background: transparent;
  border: none;
  letter-spacing: 2px;
  font-size: .6rem;
  line-height: 2rem;
  padding-bottom: 0.7rem;
}

textarea, #message {
  width: 100%;
  color: #fff;
  overflow: visible;
}

#form-btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  border: none;
  color: #ECE3CE;
  font-size: 0.6rem;
  letter-spacing: 2.5px;
  font-weight: 700;
  text-transform: uppercase;
  width: 200%;
  height: 60px;
  background-color: #c31432;
  cursor: pointer;
  transition: all .3s ease;
    background-color: #739072;
}

#form-btn:hover {
  opacity: 0.9;
  transform: translateY(-2.5%);
  box-shadow: 0 0 15px 0 #000;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5rem;
  background-color: rgba(0,0,0,0.3);
}

.contact-info h3 {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  color: #ECE3CE;
}

.contact-info a {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #666;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 3rem;
  margin-bottom: 5rem;
  transition: all .3s ease;
}

.contact-info a:hover {
  transform: translateY(-2.5%);
  color: #999;
}

.contact-info .fab {
  font-size: 1.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  color: #666;
  cursor: pointer;
  transition: all .3s ease;
}

.fab:hover{
  transform: scale(1.2);
  color: #999;
}


@media screen and (max-width: 960px) {
  .contact-content {
    display: flex;
    flex-direction: column;
  }
  
  .form-field {
    width: 100%;
  }
  
  #form-btn {
    width: 100%;
  }
  
  #form-title {
    margin: 3rem auto;
  }
  
  .contact-header{
    margin: 0 5rem 3rem 5rem;
  }
  
  #co-title {
    font-size: 1rem;
  }
  
  #co-text {
    font-size: 2.5rem;
  }
  
  .contact-form {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 960px) {
  .form-field {
    width: 125%;
  }
  
  #form-title {
    margin: 3rem auto;
      font-size: 15px;
  }
  
  #form-btn {
    width: 125%;
  }
  
  .contact-header{
    margin: 0rem 7rem 3rem 8rem;
  }
  
  .contact-info {
    padding: 5rem;
  }
  
  #co-title {
    font-size: 1rem;
  }
  
  #co-text {
    font-size: 2.5rem;
  }
  
  .contact-form {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1460px) {
  .form-field {
    width: 200%;
  }
  
  #form-btn {
    width: 200%;
  }
}
